<h1>CourtList</h1>
<form>
  <fieldset>
    <legend>New Matter</legend>
    <label>
      Docket Number
      <input type="text" name="docket_number" />
    </label>
    <button>Save</button>
  </fieldset>
</form>




<%= @list.room %>
<script>window.list_id = <%= @list.id %></script>
<br>

<ul id="sortable" class="ui-widget-content matters">
</ul>

<script type="template" class="template">
  <li class="ui-state-default row <%%= matter.get('done') ? "done" : "" %>">
    docket_number: <%%= matter.get('docket_number') %>
    <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
    disposition: <%%= matter.get('disposition') %>
    <input type="checkbox" <%%= matter.get('done') ? "checked" : "" %>/>
    <span>&times;</span>
  </li>
</script>