  <div data-role="header" data-theme="d">
    <h1>CourtList</h1>
  </div>
<form>
  <fieldset>
    <legend>New Matter</legend>
    <label>
      Case:
      <input type="text" name="docket_number" />
    </label>
    <button>Save</button>
  </fieldset>
</form>




<%= @list.room %>
<script>window.list_id = <%= @list.id %></script>
<br>

<div data-role="content" data-theme="c">
 <ul data-role="listview" data-inset="true" data-theme="d" id="sortable">
    <li data-role="list-divider">List</li>
  </ul>
</div>

<script type="template" class="template">
  <li class="ui-state-default row <%%= matter.get('done') ? "done" : "" %>">
    Case: <%%= matter.get('docket_number') %>
     #<%%= matter.get('number_on_list') %>
    
    <%%= matter.get('disposition') %>
    <input type="checkbox" <%%= matter.get('done') ? "checked" : "" %>/>
    <span>&times;</span>
  </li>
</script>