<h1>CourtList</h1>
<form>
  <fieldset>
    <legend>New Matter</legend>
    <label>
      Docket Number
      <input type="text" name="docket_number" />
    </label>
    <button>Save</button>
  </fieldset>
</form>


<%= @list.room %>
<script>window.list_id = <%= @list.id %></script>
<br>

<ul class="matters">
</ul>

<script type="template" class="template">
  <li class="<%%= matter.get('done') ? "done" : "" %>">
    docket_number: <%%= matter.get('docket_number') %>
    disposition: <%%= matter.get('disposition') %>
    <input type="checkbox" <%%= matter.get('done') ? "checked" : "" %>/>
    <span>&times;</span>
  </li>
</script>