<h1>Court</h1>

<ul>
<% @lists.each do |list| %>
  <li><a href='/lists/<%= list.id %>'><%= list.room %></a></li>
<% end %>
</ul>

<p>This app is designed to keep a contstantly update list of court matters. Try opening up the sample courtroom in two different windows (two different browsers). Make a change to one list and you'll update the other.</p>