body {
  background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#draggable {
  font-size: small; 
  width: 150px; 
  height: 150px; 
  padding: 0.5em; 
}

#sortable { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  width: 100%; 
}

#sortable li { 
  margin: 0 3px 3px 3px; 
  padding: 0.4em; 
  padding-left: 1.5em; 
  font-size: 1.4em; 
  height: 40px; 
  line-height: 20px;
  text-align: 40%;
}

.ui-state-highlight { 
  background-color: #F6F698; 
  border: dashed 1px gray; }

#sortable li span { 
  position: absolute; 
}

p {
  width: 50%;
}

#highlight {
  background-color: red;
}

.delete {
  height: 20px;
  width: 20px;
  margin: 0 10px 10px 10px;
}

@media (min-width: 600px) {
  #sortable li{
    width: 600px;
  }

}
