#draggable {
  font-size: small; 
  width: 150px; 
  height: 150px; 
  padding: 0.5em; 
}

#sortable { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  width: 100%; 
}

#sortable li { 
  margin: 0 3px 3px 3px; 
  padding: 0.4em; 
  padding-left: 1.5em; 
  font-size: 1.4em; 
  height: 30px; 
}

#sortable li span { 
  position: absolute; 
  margin-left: -1.3em; 
}